<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% if isAll %}
    <title>All Books</title>
    {% else %}
    <title>{{author.first_name}} Books</title>
    {% endif %}
  </head>
  <body>
    {% for book in books %}
    <ul>
      <li>id: {{ book.id }}</li>
      <li>title: {{ book.title }}</li>
      <li>year: {{ book.year }}</li>
      <li>liublisher: {{ book.liublisher }}</li>
      <li>isbn: {{ book.isbn }}</li>
      <li>language: {{ book.language }}</li>
      <li>
        author:
        <a href="books/">
          {{ book.author.first_name }}
        </a>
      </li>
      <li>shelf: {{ book.shelf.number }}, {{book.shelf.hall}}</li>
    </ul>
    <hr />
    <br />
    {% endfor %}
  </body>
</html>
